# Dependencies
node_modules/

# WhatsApp Web.js auth data
.wwebjs_auth/
.wwebjs_cache/

template-app/
template-scripts/

data/
temp/
scaff-node/
hagar-bun/

# Environment variables
.env
.local.config

# Development config
nodemon.json

# Other
.DS_Store

# redis backup
dump.rdb