services:
  hagar:
    image: ghcr.io/roman-sh/hagar:YOUR_COMMIT_HASH_HERE
    container_name: hagar
    restart: unless-stopped
    env_file:
      - .env.production
    stdin_open: true
    tty: true
    volumes:
      # Map the named volume 'whatsapp_data' to the '/app/.whatsapp' directory inside the container
      - whatsapp_data:/app/.whatsapp
    ports:
      - "3000:3000"
    networks:
      - hagar-net
    depends_on:
      - redis
      - hebmorph-service

  redis:
    image: redis:latest
    container_name: redis
    restart: unless-stopped
    command: redis-server --appendonly yes
    volumes:
      - redis_data:/data
    networks:
      - hagar-net

  hebmorph-service:
    image: shmigi/hebmorph-service:latest
    container_name: hebmorph-service
    restart: unless-stopped
    ports:
      - "5001:5001"
    networks:
      - hagar-net

networks:
  hagar-net:
    driver: bridge

volumes:
  redis_data:
    driver: local
  whatsapp_data:
    driver: local 