services:
  hagar:
    image: ghcr.io/roman-sh/hagar:YOUR_COMMIT_HASH_HERE
    container_name: hagar
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      REDIS_HOST: host.docker.internal
      REDIS_PORT: 6379
    stdin_open: true
    tty: true
    volumes:
      # Map the named volume 'whatsapp_data' to the '/app/.whatsapp' directory inside the container
      - ./.wwebjs_auth:/app/.wwebjs_auth
    ports:
      - "3000:3000"
    networks:
      - hagar-net
    depends_on:
      - hebmorph-service


  hebmorph-service:
    image: shmigi/hebmorph-service:latest
    container_name: hebmorph-service
    restart: unless-stopped
    ports:
      - "5001:5001"
    networks:
      - hagar-net

networks:
  hagar-net:
    driver: bridge

volumes:
  whatsapp_data:
    driver: local 